body {
  background: #EEE;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  max-width: 500px;
}